{% extends 'pages/base.html' %}

{% block title %}Add Comment to Post{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="col-sm-6" style="margin-left: auto; margin-right: auto;">
    <h1>Add Comment ... </h1>
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-primary" style="float: right">Comment</button>
        
    </form>
    <input type="hidden" value="{{ post.id }}" id="post"/>

</div>
<script>
    var user = "{{ user.id }}";
    document.getElementById("user-id").value = user;
    var post = document.getElementById("post").value;
    document.getElementById("post-id").value = post;
</script>
{% else %}
    <strong>You are not allowed to create post!! Please login to create post!!</strong>
{% endif %}
{% endblock content %}