{% extends 'pages/base.html' %}

{% block title %}{{post.title}}{% endblock %}
{% load static %}

{% block content %}
    <div >
        <div class="col-md-3">
        {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" height= 150 width=150 class="img-circle">
        {% else %}
            <img src="{% static 'images/default-avatar.jpg' %}" height= 150 width=150 class="img-circle">
        {% endif %}
        <a href="{% url 'show_profile' post.author.profile.pk %}">
            <h3>{{ post.author.first_name }} {{ post.author.last_name}}</h3>
        </a>
        <hr/>
            
        </div>
        <div class="col-md-9">
            
            <h2><b>{{post.title}}</b></h2>

            <h6> on {{post.date}}</h6>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <p><small><a href="{% url 'post_update' post.pk %}">Edit</a>|<a href={% url 'post_delete' post.id %} >Delete</a></small></p>
                {% endif %}
            {% endif %}
            <hr/>
            {% if post.image %}
                <img src="{{ post.image.url }}" width="500px" height="300px"/>
            {% endif %}
            {{post.body|safe|linebreaks}}
            <br/><br/>
            <hr/>
            <br/>
            <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                    <button type="submit" name="post_id" value={{ post.id }} class="btn btn-danger btn-sm">Unlike</button>
                {% else %}
                    <button type="submit" name="post_id" value={{ post.id }} class="btn btn-primary btn-sm">Like</button>
                {% endif %}
                - {{ total_likes }} likes
            </form>
            <hr/>
            <h2>Comments</h2>
            {% if not post.comments_post.all %}
                No Comments Yet ... <br/>
                <a href="{% url 'add_comment' post.pk %}"><button class="btn btn-primary">Add comment</button></a>
            
            {% else %}
                <a href="{% url 'add_comment' post.pk %}"><button class="btn btn-primary">Add comment</button></a>
                <br/><br/>
                {% for comment in post.comments_post.all %}
                    <strong>{{comment.user.username }}</strong> - <small>{{ comment.date_added|timesince }}</small>
                    <br/>
                    {{ comment.content }}
                    <br/>
                {% endfor %}
            {% endif %}
            
            
            
        </div>
    </div><br/><br/>
    
    <div class="col-md-2"></div>
    <div class="col-md-10">
        
    </div>
    
    
{% endblock content %}