{% extends 'pages/base.html' %}

{% block title %}{{post.title}}{% endblock %}
{% load static %}

{% block content %}
    <div >
        <div class="col-md-3">
        {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" height= 200 width=200 class="img-circle">
        {% else %}
            <img src="{% static 'images/haechan.jpeg' %}" height= 200 width=200 class="img-circle">
        {% endif %}
            
        </div>
        <div class="col-md-9">
            <a href="{% url 'show_profile' post.author.profile.pk %}">
                <h3>{{ post.author.first_name }} {{ post.author.last_name}}</h3>
            </a>
            <hr/>
            <h2><b>{{post.title}}</b></h2>

            <h6> on {{post.date}}</h6>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <p><small><a href="{% url 'post_update' post.pk %}">Edit</a>|<a href={% url 'post_delete' post.id %} >Delete</a></small></p>
                {% endif %}
            {% endif %}
            <hr/>
            {% if post.image %}
                <img src="{{ post.image.url }}" width="500px" height="300px"/>
            {% endif %}
            {{post.body|safe|linebreaks}}
            <br/><br/>
            <hr/>
            <br/>
            <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                    <button type="submit" name="post_id" value={{ post.id }} class="btn btn-danger btn-sm">Unlike</button>
                {% else %}
                    <button type="submit" name="post_id" value={{ post.id }} class="btn btn-primary btn-sm">Like</button>
                {% endif %}
                - {{ total_likes }} likes
            </form>
            
            
        </div>
    </div><br/><br/>
    
    <div class="col-md-2"></div>
    <div class="col-md-10">
        
    </div>
    
    
{% endblock content %}