{% extends 'pages/base.html' %}

{% block title %}Error{% endblock %}

{% block content %}
    <h3>Page not found</h3>
  
{% endblock content %}

 # Đây là phần base cũ 
<div class="col-sm-3">
                <center><img src="{% static 'images/haechan.jpeg' %}" class="embed-responsive-item" style="max-width: 150px"></center>
                <div class="bs-sliderbar" style="backgroung-color: #ffffff">
                    <nav class="nav flex-column">
                        <a class= "nav-link active" href="/">Personal Infor</a>
                        <a class= "nav-link " href="{% url 'blog' %}">Blog</a>
                        <a class= "nav-link " href="{% url 'contact' %}">Contact</a>
                    </nav>
                    
                </div>
            </div>
                <div class="col-sm-9">
                    <center><h1>Blog is made from Python Django</h1></center>