.main-navbar {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1030;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    height: 60px;
    display: flex;
    align-items: center;
}

.main-navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


@media screen and (min-width: 990px) {
    .container {
        max-width: 960px;

    }
    .left-menu {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .right-menu {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.main-navbar-left {
    display:flex;
    align-items: center;
    float: left;
    width: 30%;
}

.app-logo {
    text-decoration: none;
    color: #5488c7;
    float: left;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
}

.main-navbar-right {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    float: left;
}

.searching-bar {
    position: relative;
    margin-right: 1rem ;
    flex: 1 1 auto;
    display: flex;
}

.bcity-input {
    outline: none;
    line-height: 1;
    width: 100%;
    padding: .65rem calc(45px + 1.5rem) .65rem 1.5rem;
    border-radius: 3px;
    border: 2px solid #d6d6d7;
    overflow: visible;
}
    .bcity-input + .btn {
        top: 0;
        right: 0;
        height: 100%;
        position: absolute;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
    }
.btn-primary {
    color: #fff;
    background-color: #5488c7;
    border-color: #5488c7;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.account-picture {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.drop-bars {
    width: 30px;
    height: 30px;
    border: 2px solid #d6d6d7;
    border-radius: .25rem;
    margin-left: 10px;
}